<body>
  <nav aria-label="breadcrumb">
    <h1>BREADCRUMBS TEST</h1>
    <ol class="breadcrumb" id="parent"></ol>
  </nav>

    <nav style="--bs-breadcrumb-divider: '>'; padding: 70px;" aria-label="breadcrumb">
        <h1>BREADCRUMBS TEST W/O SCRIPT</h1>
        <ol class="breadcrumb">
            <li class="breadcrumb-item">item 1</li>
            <li>item 2</li>
            <li>item 3</li>
        </ol>
    </nav>


  <script>
    let breadcrumbList = JSON.parse(localStorage.getItem("storedBreadcrumbList")) || [];

    // Set Liquid variables as JS variables 
    const pageTitle = "{{ page.title | escape }}";
    const pagePermalink = "/Sonic-Unreal{{ page.permalink | escape }}";

    // Add current page to breadcrumb list
    breadcrumbList.push([pageTitle,pagePermalink]);

    // Limit to 8 items
    if (breadcrumbList.length > 8) {
      breadcrumbList.splice(0, 1);
    }
    
    // Save updated list
    localStorage.setItem("storedBreadcrumbList", JSON.stringify(breadcrumbList));

    // Display breadcrumbs
    const parent = document.getElementById('parent');

    breadcrumbList.forEach((item, index) => {
      const [name, path] = item;
      const li = document.createElement("li");
      // li.className = "breadcrumb-item";

      if (index < breadcrumbList.length - 1) {
        li.innerHTML = `<a href="${path}">${name}</a>`;
      } else {
        li.classList.add("active");
        li.setAttribute("aria-current", "page");
        li.textContent = name;
      }

      parent.appendChild(li);

    });
  </script>
</body>
