<head>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">
</head>

<body>  
  <nav class="p-3 mb-2 bg-info-subtle text-info-emphasis" style="--bs-breadcrumb-divider: '>'; font-family: 'Mulish';" aria-label="breadcrumb">
    <h3 style="text-align: center;">Recently Visited Pages</h3>
    <ol class="breadcrumb" id="parent"></ol>
  </nav>

  <script>
    let breadcrumbList = JSON.parse(localStorage.getItem("storedBreadcrumbList")) || [];

    // Set Liquid variables as JS variables 
    const pageTitle = "{{ page.title | escape }}";
    const pagePermalink = "/Sonic-Unreal{{ page.permalink | escape }}";

    // Check for page refresh (is this page the same as the last page that was visited?)
    const previousPageLog = breadcrumbList[breadcrumbList.length - 1];
    const previousPageName = previousPageLog[0];
    console.log(previousPageLog);
    console.log(previousPageName);
    if (previousPageName != pageTitle) {
        // Add current page to breadcrumb list
        breadcrumbList.push([pageTitle,pagePermalink]);
    };

    // Limit to 8 items
    if (breadcrumbList.length > 8) {
      breadcrumbList.splice(0, 1);
    }
    
    // Save updated list
    localStorage.setItem("storedBreadcrumbList", JSON.stringify(breadcrumbList));

    // Display breadcrumbs
    const parent = document.getElementById('parent');

    breadcrumbList.forEach((item, index) => {
      const [name, path] = item;
      const li = document.createElement("li");
      li.className = "breadcrumb-item";

      if (index < breadcrumbList.length - 1) {
        li.innerHTML = `<a href="${path}">${name}</a>`;
      } else {
        li.classList.add("active");
        li.setAttribute("aria-current", "page");
        li.textContent = name;
      }

      parent.appendChild(li);

    });
  </script>
</body>
