<style>
    .grid {
        display: grid;
        margin-top: 30px;
        margin-bottom: 30px;
        grid-template-columns: auto auto;
    }

    .button {
        flex: 50%;
        justify-self: center;
        border: none;
    }

    .label {
        justify-self: center;
    }
</style>

<body>
    <div class="grid">
        <div class="button">
            <button type="button" onclick="location.href='{{ page.previous-page-destination }}'">{{ page.previous-page-title }}</button>
        </div>
        <div class="button">
            <button type="button" onclick="location.href='{{ page.next-page-destination }}'">{{ page.next-page-title }}</button>
        </div>
        <div class="label">
            PREVIOUS PAGE
        </div>
        <div class="label">
            NEXT PAGE
        </div>
    </div>
</body>
