---
layout: default
---
<head>
    <style>
    </style>
</head>

<div class="home">
    <style scoped>
        {% assign image = site.header_feature_image | relative_url | split: '.' %}
        .call-out_img {
            background-image: url('{{ image | join: '.' }}');
        }
        {% if site.header_feature_image_responsive %}
        @media screen and (max-width: 768px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-medium.' | append: image[1] | default: image}}');
            }
        }
        @media screen and (max-width: 576px) {
            .call-out_img {
                background-image: url('{{ image[0] | append: '-small.' | append: image[1] }}');
            }
        }
        {% endif %}
    </style>
    <div id="main" class="call-out call-out_img">
        <h1> {{ site.header_text | default: "Change <code>header_text</code> in <code>_config.yml</code>"}} </h1>
    </div>
</div>
<div>
    <h1 style="text-align: center;">TEST HOME PAGE</h1>
</div>


<div class="container-fluid">
    <div class="row">
        <div class="col">
            <a role="button" class="btn btn-warning btn-lg" href="first_time/" style="display: block; margin: auto; width: 60%; height: 150px; line-height: 150px; padding: 0;">If this is your first time using this site, click here</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a role="button" class="btn btn-info btn-lg" href="introduction/" style="display: block; margin: auto; width: 60%; height: 150px; line-height: 150px; padding: 0;">INTRODUCTION</a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a role="button" class="btn btn-secondary btn-lg" href="technical_documentation/" style="display: block; margin: auto; width: 60%; height: 150px; line-height: 150px; padding: 0;">TECHNICAL DOCUMENTATION</a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-secondary btn-lg" href="acknowledgements/" style="display: block; margin: auto; width: 60%; height: 150px; line-height: 150px; padding: 0;">ACKNOWLEDGEMENTS</a>
        </div>
        <div class="col">
            <a role="button" class="btn btn-secondary btn-lg" href="how_to_cite/" style="display: block; margin: auto; width: 60%; height: 150px; line-height: 150px; padding: 0;">HOW TO CITE THIS PROJECT</a>
        </div>
    </div>
</div>